body{
  padding: 0;
  margin: 0;
  background-color: red;
  /* background-color: #2B2B2B; */
}

#splash {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100vw;
    font-size: 7em;
    background-color: #D5C3AA;
    color: #867666;
    font-family: 'Sacramento', cursive;
    padding-top: 3.5em;

}
